<form method="post" action="http://localhost:4567/formtest/">
	name <input type=test name='name'></input>
	<input type=submit>
</form>


<form method="post" action="http://localhost:4567/formtest2/">
  name <input type=text name='name'></input><br>
  rank <input type=text name='rank'></input><br>
  what type of cereal do you eat? <input type=text name='cereal'></input><br>
  <input type=submit>
</form>


<form method="post" action="http://localhost:4567/formtest3/">
  song title <input type=text name='song[title]'></input><br>
  song artist <input type=text name='song[artist]'></input><br>
  song whatever <input type=text name='song[whatever]'></input><br>
  <input type=submit>
</form>



<form method="post" action="http://localhost:4567/formtest4/">
  superhero name <input type=text name='superhero[name]'></input><br>
  superhero power <input type=text name='superhero[power]'></input><br>
  <br>
  <br>
  starship name <input type=text name='starship[name]'></input><br>
  starship captain <input type=text name='starship[captain]'></input><br>
  <br>
  loves spam <input type=text name='lovespam'></input><br>
  <input type=submit>
</form>